:host {
  h3 {
    text-align: center;
    color: white;
  }

  .all-checkbox-section {
    padding: 0 8px 0 1rem;

    ::ng-deep mat-checkbox {
      display: flex;
      border-bottom: 1px solid white;

      > div {
        display: flex;
        flex: 1;
        justify-content: space-between;
      }

      > div > label {
        flex: 1;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  mat-selection-list {
    overflow-y: auto;
    max-height: calc(100% - 160px);
  }

  .input-search {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;

    .search-off-btn {
      cursor: pointer;
      color: #c2185b;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .version {
    margin-left: 0.825em;
    font-size: 0.625em;
  }

  .progress-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .empty-section {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .illustration {
    display: block;
    height: 200px;
  }

  .revision-day {
    font-size: 0.875em;
    color: #c2185b;

    &.-is-already-revise {
      color: #00e676;
    }
  }

  .fab-btn-daily-schedule {
    position: fixed;
    right: 1.625em;
    bottom: 6.125em;
  }

  .fab-btn-rush {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .-blinking {
    animation: blinkingBackground 1s infinite;
  }

  @keyframes blinkingBackground {
    0%{ background-color: #c2185b; }
    50%{ background-color: #c46188; }
    100%{ background-color: #c2185b;    }
  }
}
