<p>
  <mat-toolbar>
    <ng-container *ngIf="(selected$ | async)?.length">
      <button
        mat-icon-button aria-label="icon-button with keyboard_arrow_left icon"
        (click)='unselectAll()'>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span [innerHTML]="(selected$ | async)?.length"></span>
    </ng-container>
    <ng-container *ngIf="!(selected$ | async)?.length">
      <div class="title-section">
        <span [innerHTML]="'La méthode des J'"></span>
        <span class="version" *ngIf="!(selected$ | async)?.length" [innerHTML]="'(v2.9.8)'"></span>
      </div>
    </ng-container>
    <span class="spacer"></span>

    <button *ngIf="(selected$ | async)?.length"
      mat-icon-button aria-label="Remove courses button"
      (click)="openDialog('deleteCourse')">
      <mat-icon>delete</mat-icon>
    </button>

    <button *ngIf="(selected$ | async)?.length"
      mat-icon-button aria-label="Schedule courses button"
      (click)="openDialog('scheduler')">
      <mat-icon>alarm_add</mat-icon>
    </button>

    <button *ngIf="(selected$ | async)?.length === 1"
      mat-icon-button aria-label="More info courses button"
      [routerLink]="['/detail-class', (selected$ | async)[0]._id]">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <button *ngIf="!(selected$ | async)?.length"
      mat-icon-button aria-label="icon-button with refresh icon"
      (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>


    <button *ngIf="!(selected$ | async)?.length"
      [disabled]="(selectLoadingSetting$ | async)"
      mat-icon-button aria-label="icon-button with settings icon"
      routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>

    <button *ngIf="!(selected$ | async)?.length"
      mat-icon-button aria-label="icon-button with more_vert icon"
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog('signout')" aria-label="Sign out button">Déconnexion</button>
    </mat-menu>
  </mat-toolbar>
</p>
<div *ngIf="fetching" class="progress-spinner">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-form-field class="input-search">
  <mat-label>Recherche</mat-label>
  <input type="text" matInput autocomplete="off" placeholder="ton cours" [value]="(coursesFilter$ | async)" (input)="filterCourses($event.target.value)">
  <mat-icon matSuffix>
    <mat-icon *ngIf="(coursesFilter$ | async).length <= 2">search</mat-icon>
    <mat-icon *ngIf="(coursesFilter$ | async).length > 2" (click)="resetCoursesFilter()" class="search-off-btn">search_off</mat-icon>
  </mat-icon>
</mat-form-field>
<ng-container *ngIf="!fetching">
  <ng-container *ngIf="(list$ | async)?.length; else empty">
    <div class="all-checkbox-section">
      <mat-checkbox
        class="all-checkbox"
        [checked]="allComplete"
        [indeterminate]="isIndeterminate"
        (change)="setAll($event.checked)"
        [labelPosition]="'before'">
        Tous les cours
      </mat-checkbox>
    </div>
    <mat-selection-list #courses (selectionChange)="onSelection($event, courses)">
      <mat-list-option *ngFor="let course of (list$ | async);"
        [value]="course" [selected]="isSelectedByCourseId[course._id]">
        <span matListItemTitle>{{course.name}}</span>
        <span matListItemLine class="revision-day" *ngIf="isADayRevision(course) && !isAlreadyRevise(course)">
          cours à réviser aujourd'hui !
        </span>
        <span class="revision-day -is-already-revise" *ngIf="isADayRevision(course) && isAlreadyRevise(course)">
          déjà fait bg
        </span>
      </mat-list-option>
    </mat-selection-list>
  </ng-container>
  <ng-template #empty>
    <div class="empty-section">
      <img class="illustration" src="assets/no-data.svg" />
      <h3>Pas encore de cours enregistré</h3>
    </div>
  </ng-template>
</ng-container>
<button
  *ngIf="(notifications$ | async)?.length"
  mat-mini-fab color="primary" class="fab-btn-daily-schedule -blinking"
  aria-label="Go notifications button"
  routerLink="/daily-schedule"
>
  <mat-icon>alarm_add</mat-icon>
</button>
<button
  *ngIf="(rush$ | async) && !(selectLoadingRush$ | async)"
  mat-flat-button color="primary" class="fab-btn-rush -blinking"
  aria-label="Cancel rush"
  matBadge="x" matBadgeOverlap="true" matBadgeColor="accent"
  [disabled]="deletingRush"
  (click)="openDialog('deleteRush')"
>
  <mat-icon>shutter_speed</mat-icon>
</button>
<app-speed-dial-fab
  *ngIf="!(selected$ | async)?.length"
  (redirect)="navigateTo($event)"
  [mainButtonIcon]="'donut_large'"
  [fabButtons]="fabButtons"
  aria-label="Opt courses button"
></app-speed-dial-fab>
