:host {
  h3 {
    text-align: center;
    color: white;
  }

  .spacer {
    flex-grow: 1;
  }

  .empty-section {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .illustration {
    display: block;
    height: 200px;
  }

  .fab-btn-add-classes {
    position: fixed;
    right: 1em;
    bottom: 1em;
  }

  .fab-btn-daily-schedule {
    position: fixed;
    right: 1.5em;
    bottom: 8em;
  }
}
