:host {
  h3 {
    text-align: center;
    color: white;
  }

  .empty-section {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .illustration {
    display: block;
    height: 200px;
  }

  .fab-btn-add-classes {
    position: fixed;
    right: 1em;
    bottom: 1em;
  }

  .fab-btn-signout {
    position: fixed;
    left: 1em;
    bottom: 1em;
  }

  .fab-btn-trash {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
  }
}
