:host {
  .first-row,
  .second-row {
    height: 50%;
    display: block;
  }

  .first-row {
    display: flex;
    justify-content: center;
    align-items: center;

    .countdown {
      color: white;
      font-size: 2em;
    }
  }

  .empty-section {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .illustration {
    display: block;
    height: 200px;
  }
}
