<button
  mat-icon-button color="primary" class="fab-btn-back-button"
  aria-label="Home button"
  routerLink="/home"
>
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<div class="first-row">
  <ng-container *ngIf="!!countdown">
    <span class="countdown">{{displayCountdown}}</span>
    <div class="buttons-section">
      <button
        *ngIf="!(onPause$ | async)"
        mat-mini-fab color="primary" class="fab-btn-pause-button"
        aria-label="Toggle pause mode button"
        (click)="togglePauseMode()"
        >
        <mat-icon>pause_circle_filled</mat-icon>
      </button>
      <button
        *ngIf="(onPause$ | async)"
        mat-mini-fab color="primary" class="fab-btn-play-button"
        aria-label="Toggle play mode button"
        (click)="togglePauseMode()"
        >
        <mat-icon>play_circle_outline</mat-icon>
      </button>
      <button
        mat-mini-fab color="primary" class="fab-btn-next-button"
        aria-label="Toggle next mode button"
        (click)="nextCourse()"
      >
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
<div class="second-row">
  <ng-container *ngIf="(notifications$ | async)?.length; else empty">
    <mat-list>
      <mat-list-item *ngFor="let notif of (notifications$ | async); let isFirst = first; trackBy: trackByMethod" [value]="notif">
        {{notif.course.name}}
        <span *ngIf="isFirst" class="underliner" [style.width]="percentageAccomplished"></span>
        <span *ngIf="!isFirst" class="underliner" [style.width]="'100%'"></span>
      </mat-list-item>
    </mat-list>
  </ng-container>
  <ng-template #empty>
    <div class="empty-section">
      <img class="illustration" src="assets/no-data.svg" />
      <h3>Pas encore de notif enregistrée</h3>
    </div>
  </ng-template>
</div>
