<h2 mat-dialog-title>Révision du weekend</h2>
<div class="content-section">
  <div *ngIf="!submitting" mat-dialog-content class="content">
    <mat-form-field appearance="fill">
      <mat-label>Concours</mat-label>
      <input matInput [(ngModel)]="endDate" [matDatepicker]="endPicker">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombre de cours max par jour</mat-label>
      <input matInput type="number" placeholder="Ex. 10" name="settings" [(ngModel)]="maxCoursesNumber" [disabled]="submitting">
    </mat-form-field>
  </div>
  <div *ngIf="submitting" class="progress-spinner">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div *ngIf="!submitting" mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button (click)="handleReset()">Reset</button>
    <button mat-button (click)="handleClick()">Go!</button>
  </div>
</div>
