<button
  mat-icon-button color="primary" class="fab-btn-back-button"
  aria-label="Home button"
  routerLink="/home"
>
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<div>
  <div class="section-row">
    <span>Nom</span>
    <h1 [innerText]="(selectedCourse$ | async)?.name"></h1>
  </div>
  <div class="section-row">
    <div class="description-section">
      <span>Description</span>
      <button
        *ngIf="!editMode"
        mat-icon-button color="primary" class="fab-btn-edit-button"
        aria-label="Edit button"
        (click)="editModeToggle()"
      >
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button
        *ngIf="editMode"
        mat-icon-button color="primary" class="fab-btn-edit-button"
        aria-label="Edit button"
        (click)="submitDescription()"
      >
        <mat-icon>done_outline</mat-icon>
      </button>
    </div>
    <div>
      <h3 *ngIf="!editMode" [innerText]="(selectedCourse$ | async)?.description"></h3>
      <mat-form-field class="full-width" *ngIf="editMode">
        <textarea matInput [ngModel]="(selectedCourse$ | async)?.description" (ngModelChange)="description = $event" [disabled]="submitting"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="section-row">
    <span>Difficulté</span>
    <h3>{{(selectedCourse$ | async)?.difficulties}}</h3>
  </div>
  <div class="section-row">
    <span>Créé le</span>
    <h3>{{createdDate((selectedCourse$ | async)?.date)}}</h3>
  </div>
</div>
