:host {
  display: block;
  padding: 1em;

  .section-row {
    padding: 0.875em;
  }

  input {
    color: white;
  }

  .progress-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
