<form class="example-form" (ngSubmit)="saveCourses()">
  <div class="section-row">
    <mat-form-field class="example-full-width">
      <mat-label>Nouveau cours</mat-label>
      <input matInput placeholder="Ex. Anglais" name="courses" [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div class="section-row">
    <mat-button-toggle-group
      name="fontStyle" aria-label="Font Style"
      [value]="difficulties" #group="matButtonToggleGroup"
      (change)="difficulties = group.value">
      <mat-button-toggle value="easy">Facile</mat-button-toggle>
      <mat-button-toggle value="tough">Difficile</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="section-row">
    <button [disabled]="!name" mat-stroked-button color="primary" value="Enregistrer">Enregistrer</button>
  </div>
</form>
