<form class="example-form" (ngSubmit)="saveCourses()">
  <div class="section-row">
    <mat-form-field class="full-width">
      <mat-label>Nouveau cours</mat-label>
      <input matInput placeholder="Ex. Anglais" name="courses" [(ngModel)]="name" [disabled]="submitting">
    </mat-form-field>
  </div>
  <div class="section-row">
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. Un super cours à trouver ici : https://un-beau-lien-vers-tes-notes" name="courses" [(ngModel)]="description" [disabled]="submitting"></textarea>
    </mat-form-field>
  </div>
  <div class="section-row">
    <mat-button-toggle-group
      [disabled]="submitting"
      name="fontStyle" aria-label="Font Style"
      [value]="difficulties" #group="matButtonToggleGroup"
      (change)="difficulties = group.value">
      <mat-button-toggle value="easy">Facile</mat-button-toggle>
      <mat-button-toggle value="tough">Difficile</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="section-row">
    <div class="google-checkbox">
      <mat-checkbox [checked]="sendToGoogleCalendar" (change)="sendToGoogleCalendar = !sendToGoogleCalendar"
      [disabled]="submitting">Envoyer dans ton calendrier</mat-checkbox>
    </div>
    <button class="submit-button" [disabled]="!name || submitting" mat-stroked-button color="primary" value="Enregistrer">Enregistrer</button>
  </div>
</form>
<div *ngIf="submitting" class="progress-spinner">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
