<h2 mat-dialog-title>Programmateur</h2>

<div mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let duration of durationList">
      <div matListItemTitle>
        <span [innerHTML]="duration.course.name"></span>
        <span class="separator" [innerHTML]="' - '"></span>
        <span class="duration">{{ duration.duration }} minutes</span>
      </div>
      <div matListItemMeta>
        <button
          mat-icon-button aria-label="Edit timer button"
          (click)="editTimer(duration)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<div class="spacer"></div>

<div mat-dialog-content>
  Fin de révision (sans pause) : {{ endOfTheDay }}
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button mat-dialog-close (click)="handleSubmit()" cdkFocusInitial>Go</button>
</div>
