<button
  mat-icon-button color="primary" class="fab-btn-back-button"
  aria-label="Home button"
  routerLink="/home"
>
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<ng-container *ngIf="(list$ | async)?.length; else empty">
  <mat-nav-list #courses (selectionChange)="onSelection($event, courses)">
    <a mat-list-item *ngFor="let course of (list$ | async); trackBy: trackByMethod"
      [routerLink]="['/detail-class', course._id]">
      <div matListItemTitle>{{course.name}}</div>
      <span matListItemLine class="is-from-we" *ngIf="course.isFromWE">Cours du week end</span>
      <div matListItemMeta>
        <button class="delete-button" mat-icon-button aria-label="Delete courses button"
          (click)="openDialog($event, 'deleteCourse', course)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </a>
  </mat-nav-list>
</ng-container>
<ng-template #empty>
  <div class="empty-section">
    <img class="illustration" src="assets/no-data.svg" />
    <h3>Pas encore de cours à reviser</h3>
  </div>
</ng-template>
