/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: black; }

body {
  color: white;
}

#googleBtn {
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
}
