<button
  mat-icon-button color="primary" class="fab-btn-back-button"
  aria-label="Home button"
  routerLink="/home"
>
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<form class="example-form" (ngSubmit)="saveSettings()">
  <div class="section-row">
    <mat-form-field class="full-width">
      <mat-label>Nombre de cours max par jour</mat-label>
      <input matInput type="number" placeholder="Ex. 10" name="settings" [(ngModel)]="maxCoursesNumber" [disabled]="submitting">
    </mat-form-field>
  </div>
  <div class="section-row">
    <button type="button" class="reset-we-button" [disabled]="submitting" mat-stroked-button (click)="openDialog('resetWE')" color="accent">Reset weekend</button>
  </div>
  <div class="section-row">
    <button class="submit-button" [disabled]="!maxCoursesNumber || submitting" mat-stroked-button color="primary" value="Enregistrer">Enregistrer</button>
  </div>
</form>
<div *ngIf="submitting" class="progress-spinner">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

