<button
  mat-icon-button color="primary" class="fab-btn-back-button"
  aria-label="Home button"
  routerLink="/home"
>
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<div class="section-row">
  <button type="button" class="reset-we-button" [disabled]="submitting" mat-stroked-button (click)="openDialog('blop')" color="accent">APPELLE MOI AVANT DE CLIQUER SUR CE BOUTON</button>
</div>
<div *ngIf="submitting" class="progress-spinner">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

